:root {
    --white: #fff;

    --text-gray: #bdbdbd;

    --light-gray: #464646;
    --dark-gray: #292929;

    --light-green: #00D015;
    --dark-green: #1A7A24;

    --light-yellow: #FFDC00;
    --dark-yellow: #C0A600;

    --light-red: #D64949;
    --dark-red: #B56060;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light-gray);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}